.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
docker-compose.override.yml
public/hot
public/build
.DS_Store
.idea
.vscode
*.log
npm-debug.log*
yarn-error.log
.phpunit.result.cache
